<img src='/images/spotify-logo.png' alt='Beer logo.'>
<nav>
      <ul>
        <li>
          <a {{#is @root.selected 'Search'}} class='active'{{else}}{{/is}} href='/'>Search</a>
        </li>
      </ul>
</nav>